<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLibros</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/nav-bar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/producto.css" />
    <link rel="stylesheet" href="/css/register.css"/>

</head>

<body>
    <header>
        <img src="" alt="" class="logo">
    </header>
    <div class="container">
        <div class="register">
            <div class="titulo">
                <h4>Rgistrarse</h4>
            </div>
            
            <form action="/register" method="POST">
                <div class="form-inputs">
                    <div class="form-inputs-right">

                        <label for="nombreDeUsuario">Nombre :</label>
                        <input type="text" name="nombreDeUsuario" id="nombreDeUsuario" required>
                        <br>
                        <label for="DNIDeUsuario">DNI :</label>
                        <input type="text" name="DNIDeUsuario" id="DNIDeUsuario" required>
                        <br>
                        <label for="passUsuario">Contraseña:</label>
                        <input type="password" name="passUsuario" id="passUsuario" required>
                        <br>
                    </div>

                    <div class="form-inputs-left">

                        <label for="apellidoDeUsuario">Apellido:</label>
                        <input type="text" name="apellidoDeUsuario" id="apellidoDeUsuario" required>
                        <br>
                        <label for="emailUsuario">Correo electrónico:</label>
                        <input type="email" name="emailUsuario" id="emailUsuario" required>
                        <br>
                        <label for="repeatpassUsuario">Repetir:</label>
                        <input type="repeatpassword" name="repeatpassUsuario" id="repeatpassUsuario" required>
                        <br>
                    </div>
                    
                </div>

                <div class="aceptaTerminos">
                    <input type="checkbox" name="aceptaTerminos" id="aceptaTerminos" required>
                    <label for="aceptaTerminos">Acepto terminos y condiciones</label>
                </div>

                <div class="button-form">
                    <button type="reset">Borrar formulario</button>
                    <button type="submit">Crear Cuenta</button>
                </div>

            </form>
        </div>
    </div>

</body>
</html>            
 


<!--

Registro de Usuario (register.html ):
OK ■ Nombre y apellido
OK ■ Nombre de usuari@
■ Fecha de nacimiento
■ Domicilio
■ Perfil del usuario (consultar a l@s usuari@s si quieren comprar o vender)
■ Categorías de interés (puede elegir más de una)
● Electro
● Moda
● Hogar
● Juguetería
● Vida sana

■ Foto de usuario

■ Contraseña
■ Confirmar contraseña

■ Botón de enviar que nos lleve a la página principal
■ Botón de borrar todos los datos del formulario


Micro desafío - Paso 3
Es necesario indicarle al usuario, con un mensaje de error, cuando un dato solicitado no
cumple con el formato permitido. Por ejemplo, si el usuario ingresa un nombre con un
solo carácter deberíamos indicar el error, ¿verdad? ¿Cómo podríamos mostrar ese
mensaje al usuario?

-->