<article class="producto">
    <div class="producto-info">
        <img src="/img/dummy-books/book-1.jfif" alt="">
        <div class="desktop">
            <h4 class="titulo">The C Programming Language 2nd edition</h4>
            <p class="author">Brian W. Kernighan and Dennis M. Ritchie</p>
        </div>
    </div>
    <div class="quantity">1</div>
    <p class="precio">$11.500</p>
    <div class="close">
        <i class="fas fa-times fa-2x"></i>
    </div>
</article>