<article class="producto">
    <img src="/img/dummy-book.jpg" alt="">
    <div class="producto-info">
        <div class="producto-title">Lorem ipsum dolor sit.</div>
        <div class="cantidad">
            <p>Cantidad:</p>
            <div class="cambiar-cantidad">
                <button class="mas">+</button>
                <p>2</p>
                <button class="menos">-</button>
            </div>
        </div>
    </div>
    <div class="derecha">
        <div class="cruz">
            <i class="fas fa-times fa-2x"></i>
        </div>
        <div class="precio">$11.500</div>
    </div>
</article>