<article class="libro">
    <img src="/img/dummy-book.jpg" alt="">
    <i class="fas fa-heart fa-2x"></i>
    <div class="libro-info">
        <h4 class="libro-titulo">The C Programming Language 2nd Edition. </h4>
        <p class="libro-author">Brian  W. Kernighan and Dennis M. Ritchie</p>
        <h4 class="libro-precio">$11.500</h4>
    </div>
</article>