<% const { name, author, img} = libro %> 
<% const price = 11500 %> 
<article class="libro">
    <img src="<%= img %>" alt="">
    <i class="fas fa-heart fa-2x"></i>
    <div class="libro-info">
        <h4 class="libro-titulo"><%= name %> </h4>
        <p class="libro-author"><%= author %></p>
        <h4 class="libro-precio">$<%= price %></h4>
    </div>
</article>