<article class="libro">
    <img src="/img/dummy-book.jpg" alt="">
    <i class="fas fa-heart fa-2x"></i>
    <div class="libro-info">
        <h3 class="libro-precio">$11.500</h3>
        <h4 class="libro-titulo">The C Programming Language 2nd Edition. Brian  W. Kernighan and Dennis M. Ritchie</h4>
    </div>
</article>