<nav class="nav-bar">
  <div class="top-bar"></div>
  <div class="bottom-bar">
    <div class="social-media">
      <div class="social-media-txt">
        <p>Seguinos en las redes:</p>
      </div>
      <div class="social-media-icons">
        <ul>
          <li>
            <a href=""><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-facebook-f"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="nav-items">
      <div class="nav-img-container">
        <a href="/"
          ><img src="/img/logo-transparente.png" alt="" class="nav-logo"
        /></a>
        <h1>| MercadoLibros</h1>
      </div>

      <form class="nav-form" action="">
        <input
          class="input-buscar"
          type="text"
          placeholder=" Buscá un libro..."
        />
        <button class="btn-buscar">Buscar</button>
      </form>

      <ul class="nav-menu">
        <li><a href="#">Categorias</a></li>
        <li><a href="/producto/crearproducto">Vender</a></li>
        <li><a href="/user/login">Iniciar sesion</a></li>
        <li><a href="/user/register">Registrarse</a></li>
      </ul>
    </div>
    <div class="nav-text">
      <p>Comprá...Vendé...Intercambiá...y mucho más!</p>
    </div>
  </div>
</nav>

<!-- <nav class="nav-bar">
  <div class="container">
    <a href="/" class="logo">
      <img src="/img/logo-transparente.png" alt="" class="logo" />
    </a>
    <p id="categories" class="desktop">Categorías</p>
    <form action="">
      <button type="submit">
        <i class="fas fa-search"></i>
      </button>
      <input type="text" placeholder="Buscá un libro..." />
    </form>
    <div class="hamburger mobile">
      <i class="fas fa-bars fa-2x"></i>
    </div>
    <ul class="nav-links desktop">
      <li>
        <a href="/producto/crearproducto">Vender</a>
      </li>
      <li>
        <a href="/user/login">Iniciar Sesion</a>
      </li>
      <li class="register">
        <a href="/user/register">Registrarse</a>
      </li>
    </ul>
  </div>
</nav> -->
