<nav class="nav-bar">
    <div class="container">
        <a href="/" class="logo">
            <img src="/img/logo-transparente.png" alt="" class="logo">
        </a>
        <p id="categories" class="desktop">Categorías</p>
        <form action="">
            <button type="submit">
                <i class="fas fa-search"></i>
            </button>
            <input type="text" placeholder="Buscá un libro...">
        </form>
        <div class="hamburger mobile">
            <i class="fas fa-bars fa-2x"></i>
        </div>
        <ul class="nav-links desktop">
            <li>
                <a href="/crearproducto">Vender</a>
            </li>
            <li>
                <a href="/login">Iniciar Sesion</a>
            </li>
            <li class="register">
                <a href="/register">Registrarse</a>
            </li>
        </ul>
    </div>
</nav>