<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>MercadoLibros</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>

    <!-- Nav-bar & Categories -->
    <%- include("./partials/nav-bar.ejs") %>

    <!-- Books -->
    
    <main>
        <div class="productos">
            <h2>Explorá</h2>
            <% for(let i = 0; i < 3; i++){ %>
                <section>
                    <div class="productos-texto-container">
                        <h3 class="productos-texto">Categoria <%= i %> </h3>
                        <a href="#" class="ver-mas">Ver más</a>
                    </div>
                    <div class="libros">
                        <% for(let j = 0; j < 5; j++){ %>
                            <%- include("./partials/libro.ejs") %>
                        <% } %>
                    </div>
                </section>
            <% } %>
        </div>
    </main>

    <footer>
        <p>Todos los derechos reservados 2021 - Grupo 11 - MercadoLibros®</p>
    </footer>
</body>
</html>