<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <title>MercadoLibros</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/producto.css" />
    <link rel="stylesheet" href="/css/nav-bar.css" />
  </head>
  <body>
    <!-- Nav-bar & Categories -->
    <nav class="nav-bar"></nav>
    <nav class="nav-bar-pagina">
      <a href="../views/index.html">Volver</a>
    </nav>

    <!-- Main -->
    <main>
      <section class="producto-wrapper">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <div class="imagen-producto-wrapper">
          <img
            class="img-producto"
            src="\img\dummy-book.jpg"
            alt="img-producto"
          />
        </div>

        <h2 class="precio">$7500</h2>

        <section class="descripcion">
          <article class="descripcion-producto">
            <h3>Descripcion:</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
              delectus provident quibusdam nihil quia aliquid tempore pariatur
              quasi eveniet, nostrum consequuntur itaque nam facere. Quasi autem
              voluptas error fuga sequi!
            </p>
          </article>
          <article class="descripcion-vendedor">
            <h3>Datos del vendedor:</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
              delectus provident quibusdam nihil quia aliquid tempore pariatur
              quasi eveniet, nostrum consequuntur itaque nam facere. Quasi autem
              voluptas error fuga sequi!
            </p>
          </article>
        </section>

        <section class="botones-wrapper">
          <button type="submit">Comprar ahora</button>
          <button type="submit">Agregar al carrito</button>
        </section>
      </section>
    </main>
    <!-- Footer -->
    <footer>
      <p>Todos los derechos reservados 2021 - Grupo 11 - MercadoLibros®</p>
    </footer>

    <!-- JS Scripts -->
    <script src="/front-js/categories.js"></script>
  </body>
</html>
