<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <title>MercadoLibros</title>
        <link rel="stylesheet" href="/css/carrito.css">
        <link rel="stylesheet" href="/css/nav-bar.css">
        <link rel="stylesheet" href="/css/footer.css">
    </head>

    <body>
        <!-- Nav-bar & Categories -->
        <nav class="nav-bar"></nav>
        
        <!-- Carrito -->
        <div class="carrito-container">
            <section class="carrito">
                <div class="carrito-texto">
                    <h3 class="title">Carrito</h3>
                    <p class="cantidad">x productos</p>
                </div>
                <div class="productos-container">
                    <article class="producto">
                        <img src="/img/dummy-book.jpg" alt="">
                        <div class="producto-info">
                            <div class="producto-title">Lorem ipsum dolor sit.</div>
                            <div class="cantidad">
                                <p>Cantidad:</p>
                                <div class="cambiar-cantidad">
                                    <button class="mas">+</button>
                                    <p>2</p>
                                    <button class="menos">-</button>
                                </div>
                            </div>
                        </div>
                        <div class="derecha">
                            <div class="cruz">
                                <i class="fas fa-times fa-2x"></i>
                            </div>
                            <div class="precio">$11.500</div>
                        </div>
                    </article>
                    <article class="producto">
                        <img src="/img/dummy-book.jpg" alt="">
                        <div class="producto-info">
                            <div class="producto-title">Lorem ipsum dolor sit.</div>
                            <div class="cantidad">
                                <p>Cantidad:</p>
                                <div class="cambiar-cantidad">
                                    <button class="mas">+</button>
                                    <p>1</p>
                                    <button class="menos">-</button>
                                </div>
                            </div>
                        </div>
                        <div class="derecha">
                            <div class="cruz">
                                <i class="fas fa-times fa-2x"></i>
                            </div>
                            <div class="precio">$11.500</div>
                        </div>
                    </article>
                    <article class="producto">
                        <img src="/img/dummy-book.jpg" alt="">
                        <div class="producto-info">
                            <div class="producto-title">Lorem ipsum dolor sit.</div>
                            <div class="cantidad">
                                <p>Cantidad:</p>
                                <div class="cambiar-cantidad">
                                    <button class="mas">+</button>
                                    <p>1</p>
                                    <button class="menos">-</button>
                                </div>
                            </div>
                        </div>
                        <div class="derecha">
                            <div class="cruz">
                                <i class="fas fa-times fa-2x"></i>
                            </div>
                            <div class="precio">$11.500</div>
                        </div>
                    </article>
                    <article class="producto">
                        <img src="/img/dummy-book.jpg" alt="">
                        <div class="producto-info">
                            <div class="producto-title">Lorem ipsum dolor sit.</div>
                            <div class="cantidad">
                                <p>Cantidad:</p>
                                <div class="cambiar-cantidad">
                                    <button class="mas">+</button>
                                    <p>1</p>
                                    <button class="menos">-</button>
                                </div>
                            </div>
                        </div>
                        <div class="derecha">
                            <div class="cruz">
                                <i class="fas fa-times fa-2x"></i>
                            </div>
                            <div class="precio">$11.500</div>
                        </div>
                    </article>
                    <article class="producto">
                        <img src="/img/dummy-book.jpg" alt="">
                        <div class="producto-info">
                            <div class="producto-title">Lorem ipsum dolor sit.</div>
                            <div class="cantidad">
                                <p>Cantidad:</p>
                                <div class="cambiar-cantidad">
                                    <button class="mas">+</button>
                                    <p>1</p>
                                    <button class="menos">-</button>
                                </div>
                            </div>
                        </div>
                        <div class="derecha">
                            <div class="cruz">
                                <i class="fas fa-times fa-2x"></i>
                            </div>
                            <div class="precio">$11.500</div>
                        </div>
                    </article>
                    <article class="producto">
                        <img src="/img/dummy-book.jpg" alt="">
                        <div class="producto-info">
                            <div class="producto-title">Lorem ipsum dolor sit.</div>
                            <div class="cantidad">
                                <p>Cantidad:</p>
                                <div class="cambiar-cantidad">
                                    <button class="mas">+</button>
                                    <p>1</p>
                                    <button class="menos">-</button>
                                </div>
                            </div>
                        </div>
                        <div class="derecha">
                            <div class="cruz">
                                <i class="fas fa-times fa-2x"></i>
                            </div>
                            <div class="precio">$11.500</div>
                        </div>
                    </article>
                </div>
                <div class="comprar">
                    <div class=" total precio">Total: $23.000</div>
                    <button class="comprar-btn">Comprar</button>
                </div>
            </div>
        </section>

        <script src="/javascript/nav-bar.js"></script>
    </body>

    <footer>
        <p>Todos los derechos reservados 2021 - Grupo 11 - MercadoLibros®</p>
    </footer>
</html>