* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

section {
  display: flex;
  width: 38vw;
  height: 50vh;
  box-shadow: 0px 0px 30px #c0abe6;
  border-radius: 15px;
  overflow: hidden;
}

.details {
  background-color: rgb(82 86 143);
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}

.details article{
  margin: 10px 0px;
}

.detalle-publicacion{
  flex: 1;
}

.detalle-publicacion h3 {
  text-shadow: 1px 1px 2px black;
  
}

.info-publicacion {
  background-color: #6362a2;
  padding: 5px;
  border-radius: 5px;
}

.info-libro {
  margin-top: 10px;
  background-color: #6362a2;
  padding: 5px;
  border-radius: 5px;
}

.info-vendedor{
  margin-top: 10px;
  background-color: #6362a2;
  padding: 5px;
  border-radius: 5px;
}
.buttons {
  flex: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons a {
  text-align: center;
  margin-left: 10px;
  font-size: 20px;
}

.buttons button{
  font-size: 15px;
  padding: 5px;
  background-color: rgb(59, 69, 116) ;
  color: whitesmoke;
  border-radius: 5px;
}




.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.product-img {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-img img {
  height: 100%;
  padding: 10px;
  transition: all 500ms ease-out;
}

@media (max-width: 414px) {
  main {
    margin-top: 40px;
  }

  .hero,
  .description {
    display: none;
  }

  .mobile-img {
    display: block;
  }

  section {
    height: auto;
    width: 100vw;
  }

  .details {
    width: 100%;
  }

  .price {
    margin-top: 10px;
  }

  .buttons {
    flex-direction: column-reverse;
  }

  .buttons button {
    margin-top: 10px;
    width: 100%;
  }
}
