<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MercadoLibros</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/nav-bar.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>

  <body>
    <%- include("../partials/nav-bar.ejs") %>
    <main>
      <h1>Detalle de usuario</h1>
      <br />
      <p><%= loggedUser.emailUsuario %></p>
      <p><%= loggedUser.passUsuario %></p>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
13