<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <title>MercadoLibros</title>
        <link rel="stylesheet" href="/css/carrito.css">
        <link rel="stylesheet" href="/css/nav-bar.css">
        <link rel="stylesheet" href="/css/footer.css">
    </head>

    <body>
        <!-- Nav-bar & Categories -->
        <%- include('./partials/nav-bar.ejs') %> 
        
        <!-- Carrito -->
        <div class="carrito-container">
            <section class="carrito">
                <h3 class="title"><span><i class="fas fa-shopping-cart"></i></span>Carrito</h3>
                <div class="productos-container">
                    <% for(let i = 0; i < 3; i++){ %>
                        <%- include("./partials/libro-carrito.ejs") %> 
                    <% } %> 
                </div>
                <div class="total-precio">
                    <div class="total">Total</div>
                    <div class="precio-final">$23.000</div>
                </div>
                <div class="comprar">
                    <button class="seguir-btn">Seguir comprando</button>
                    <button class="pagar-btn">Pagar</button>
                </div>
            </div>
        </section>

        <script src="/front-js/categories.js"></script>
    </body>

    <footer>
        <p>Todos los derechos reservados 2021 - Grupo 11 - MercadoLibros®</p>
    </footer>
</html>