<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MercadoLibros</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/nav-bar.css" />
    <link rel="stylesheet" href="/css/crearproducto.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>

  <body>
    <%- include("../partials/nav-bar.ejs", {authUser}) %>
    <main>
      <section>
        <!-- <a href="/"><img src="/img/logo-transparente.png" alt="" /></a> -->
        <div class="container-left">
          <i class="fas fa-tag"></i>
          <p>Vamos a vender!</p>
          <img class="pila-libros" src="/img/books.png" alt="" />
        </div>
        <div class="hero">
          <div class="trian"></div>
          <div class="container-form">
            <h2><i class="fas fa-info-circle"></i> Carga la info</h2>
            <form action="/producto/crear" method="POST">
              <div class="form-inputs">
                <div>
                  <article>
                    <label for="titulo">Titulo</label>
                    <input type="text" name="titulo" id="titulo" required />
                  </article>
                  <article>
                    <label for="autor">Autor</label>
                    <input type="text" name="autor" id="autor" required />
                  </article>
                </div>

                <div>
                  <article>
                    <label for="editorial">Editorial</label>
                    <input
                      type="text"
                      name="editorial"
                      id="editorial"
                      required
                    />
                  </article>
                  <article>
                    <label for="categoria">Categoria</label>
                    <select id="categoria" name="categoria">
                      <option value="tecnologia">Tecnologia</option>
                      <option value="ciencia">Ciencia</option>
                      <option value="literatura">Literatura</option>
                    </select>
                  </article>
                </div>
                <div>
                  <article>
                    <label for="precio">Precio ARS</label>
                    <input type="number" name="precio" id="precio" required />
                  </article>
                  <article class="opt-estado">
                    <label for="estado">Estado</label>
                    <div class="cont-estados">
                      <div>
                        <input
                          type="radio"
                          name="estado"
                          value="Nuevo"
                          checked
                        />
                        <label for="estado">Nuevo</label>
                      </div>
                      <div>
                        <input type="radio" name="estado" value="Usado" />
                        <label for="estado">Usado</label>
                      </div>
                    </div>
                  </article>
                </div>
                <div>
                  <article>
                    <label for="fotos">Fotos</label>
                    <input type="file" name="fotos" id="fotos" required />
                  </article>
                </div>
              </div>
              <div class="cont-terminos">
                <label class="terminos"
                  >Acepto los terminos y condiciones
                  <input type="checkbox" />
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="submit">
                <button type="submit">Publicar</button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>

<!--  -->
